on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string


jobs:
  doit:
    runs-on: ubuntu-latest
    steps:
      - uses: phargogh/test-gha-workflow-chaining-child/.github/workflows/child-workflow.yml
        with:
          some_parameter: "this is a test"


